.btn-grey {
    color: #fff;
    background-color:#d7eef2;
    border-color: #d7eef2;
}

.bg-red{
    background-color:red;
}

.bg-green{
    background-color:green;
}

.bg-blue{
    background-color:blue;
}

.no-decoration {
    text-decoration: none;
    color: #aaa;
}

.no-decoration:hover {
    text-decoration: none;
    color: #666;
}
#upload{
    background-color:#d7eef2;
}
#logout{
    background-color:#f38181;
    color: black;
}

#edit{
    background-color:#d7eef2;
    color:black;
    border-color:#d7eef2;
}

#danger{
    background-color:#f38181;
    border-color:#f38181;
}