.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

<<<<<<< HEAD
=======
#here{
    background-color:#ffd6a4;
    color:black;
}

#dn{
    background-color:#f38181;
}

#res{
    background-color:#d7eef2; 
    color: black;
}
>>>>>>> 6d5a6704e198507671a0b96a48d54fb9b663f2cc
