.container{

	text-align:center;
	
	
}
	
	
	
.aaa{
	width:25px;
	height:25px;;

}
h3{
	color:#f38181;
}


h2{
	color:#f38181;
}


.yokoso{
	font-size:75px;
}

.sa{
	font-size:20px;
	color:black;
}

h1{
	color:#f38181;
}


.ime{
	width:800px;
}


#saa{
	background-color:#ffd6a4;
}