body{
    background-color: #FFBEDA;
    font-family: 'Quicksand', sans-serif;
}

.navbar-default {
    background-color:#FFBEDA;
    border-color:white;
}

.dropdown-menu {
background-color: #FFBEDA;
border: 1px solid black;
border: 1px solid black(0, 0, 0, .15);
-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
}


.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
color: #CCCCCC;
background-color:#FFBEDA;
}


.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
color: black;
background-color: #FFBEDA;
}