body{
    background-color: #FFBEDA;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Asap Condensed', sans-serif; 
    font-size:15px;
}

.navbar-default {
    background-color:#FFBEDA;
    border-color:white;
}

.dropdown-menu {
background-color: #FFBEDA;
border: 1px solid black;
border: 1px solid black(0, 0, 0, .15);
-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
}


.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
color: black;
background-color:#FFBEDA;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: black;
background-color: transparent;
}

#dp::after{
    color:black;
    
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
color: black;
background-color: #FFBEDA;
}