/*.calendar-size{*/
/*    table-layout: fixed;*/
/*}*/
td{
    word-wrap:break-word;
}

table{
    table-layout: fixed;
}

.event{
    background-color:#FFD2A2;
    margin-bottom:5px;
    padding:2px 5px ;
    border-radius:4px;
    
}

.today{
    background-color: #eee;
}

.group-event{
    background-color:#FFF1E2;
    margin-bottom:5px;
    padding:2px 5px ;
    border-radius:4px;
}

.event-card{
    text-decoration: none;
    color: black;
}

.event-card:hover {
    text-decoration: none;
    color: black;
}

.event-card .event:hover{
    background-color:#FFF9F2;
}

.event-card .group-event:hover{
    background-color:#FFF9F2;
}



