/*.calendar-size{*/
/*    table-layout: fixed;*/
/*}*/
td{
    word-wrap:break-word;
}

table{
    table-layout: fixed;
}

.event{
    background-color:#d7eef2;
    margin-bottom:5px;
    padding:2px 5px ;
    border-radius:4px;
    
}

.today{
    background-color: #eee;
}

.group-event{
    background-color:#f38181;
    margin-bottom:5px;
    padding:2px 5px ;
    border-radius:4px;
}

.undefined-event{
    background-color:#ffd6a4;
    margin-bottom:5px;
    padding:2px 5px ;
    border-radius:4px;
}

.event-card{
    text-decoration: none;
    color: black;
}

.event-card:hover {
    text-decoration: none;
    color: black;
}

.event-card .event:hover{
    background-color:#0881a3;
}

.event-card .group-event:hover{
    background-color:#fcd9c7;
}

.event-card .undefined-event:hover{
    background-color:#e3d1c8;
}



