@charset "UTF-8";

.card-header{
  text-align:center;
}

*{
font-family: 'Varela Round';
color: #aaaaaa;
}

#name{
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  border-color:transparent;
  border-bottom-color:#EEEEEE;
  border-bottom-width:4px;
 
}

#password{
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  border-color:transparent;
  border-bottom-color:#EEEEEE;
  border-bottom-width:4px;
}

#user{
  margin-left:400px;
}

#password-confirm{
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  border-color:transparent;
  border-bottom-color:#EEEEEE;
  border-bottom-width:4px; 
}