@charset "UTF-8";


*{
  background-color:#FFDFBC;
}

#not-a-member a {
  font-size: 15px;
  color:white;
}

#login-txt {
  font-size:50px;
  font-weight:bold;
}

#form-name {
  margin-bottom: 20px;
}

#form-passwd {
  /*margin-bottom: 20px;*/
}

#form-confirm {
  margin-top: 20px;
}

.card-header{
  text-align:center;
}

#wrapper h1, p, div, small {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: white;
}

#wrapper{
   margin-top:150px;
}

#name{
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  border-color:transparent;
  border-bottom-color:white;
  border-bottom-width:4px;
  color:#AAA;
}

#password{
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  border-color:transparent;
  border-bottom-color:white;
  border-bottom-width:4px;
  color:#AAA;
}

/*#user{*/
/*  margin-left:400px;*/
/*}*/

#password-confirm{
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0);
  border-color:transparent;
  border-bottom-color:white;
  border-bottom-width:4px; 
}

.btn{
  background-color:white;
  color:#FFDFBC;
}

.btn:hover{
  color:#FFDFBC;
}

#popcorn{

    padding-left: 55px;
    line-height: 30px;
    background: url(/images/poppop.png) no-repeat;
    background-size: 23%;
    font-size:35px;
	  margin-left:40px;
	  color:white;
	  margin-top:20px;
	  font-family: 'Fredericka the Great', cursive;
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Rammetto One', cursive;
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
}

